*.pyc
__pycache__/
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
ENV/
*.sqlite3
*.log
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
*.bak
sent_emails/
media/
db.sqlite3
*.db